! Europejska Baza Ciasteczkowa
! European Cookie Database
! Description: It's based on IDCAC(https://www.i-dont-care-about-cookies.eu/) and contains filters for all sites except sites in Polish language.
! License: GPL-3.0
! Version: @version
! Copyright © 2021 Filters Heroes
!
!
! Local storage
@include localStorage
!
!
! Cookies
@include bakeCookie
!
!
