! Europejska Baza Ciasteczkowa
! European Cookie Database
! Description: It's based on IDCAC(https://www.i-dont-care-about-cookies.eu/) and contains filters for all sites except those Polish.
! Version: @version
! License: GPL-3.0 (https://github.com/FiltersHeroes/PCCassets/blob/main/LICENSE)
! Copyright © 2023 Filters Heroes
!
!
! Local storage
@include localStorage
!
!
! Cookies
@include bakeCookie
!
!
! Click interactive
@include cInteractive
!
!
! Click timeout
@include cTimeout
!
!
