! Polska Baza Ciasteczkowa
! Polish Cookie Database
! Version: @version
! License: MIT (https://opensource.org/licenses/MIT)
! Copyright © 2023 Filters Heroes
!
!
! Local storage
@include localStorage
!
!
! Cookies
@include bakeCookie
@include bakeCookie-compatible
!
!
! Click interactive
@include cInteractive
!
!
! Click timeout
@include cTimeout
!
!
! Click complete
@include cComplete
!
!
! Redirect
@include redirect
